*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
a{
text-decoration: none;
}

body{
  font-family: 'Philosopher', sans-serif;
  $color-orange:#FF9900 !global;
  font-size: 18px;
  
}
.container{
  max-width: 1646px;
  margin: 0 auto;
  padding: 0 15px;
}
header{
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
height: 100vh;

  max-height: 1200px;
  background-position: bottom center;
}
.header-nav{
  display: flex;
  justify-content: space-between;
padding-top: 40px;
align-items: center;
  ul{
    display: flex;
      a{
        color: #fff;
        font-size: 24px;
        line-height: 26px;
        margin-right: 19px;
        &:hover{
          color: $color-orange;
          transition: all 0.8s ease;
        }
     
    }
  }
  .header-btn{
  font-size: 24px;
  line-height: 26px;
   border: none;
 color: $color-orange;
 background-color: transparent;
 cursor: pointer;
  }
}
.header-info{
  display: flex;
  justify-content: center;
  h1{
    font-size: 80px;
    line-height: 90px;
    color: #fff;
    margin-right: 182px;
    max-width: 437px;
    margin-top: 302px;
    text-align: right;
    span{
      color: $color-orange;
    }
  }
     p {
       max-width: 646px;
       color: #fff;
       font-size: 34px;
       line-height: 38px;
       margin-top: 262px;
     }
     button{
      background-color: transparent;
      color: $color-orange;
      font-size: 34px;
      line-height: 38px;
      border: none;
      display: block;
      width: 100%;
      text-align: end;
     }
}


.our-story{
  padding: 120px 0 189px 0;

  h2{
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 70px;
    span{
      color: $color-orange;
    }
  }
  .story-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 167px 247px 159px 317px;
grid-column-gap: 66px;
img:nth-child(3){
  grid-row: 1/3;
  grid-column: 3;

}
img:nth-child(5){
  grid-row: 4/5;
grid-column: 1;
}
img:nth-child(6) {
 grid-column: 2/3;
 grid-row: 2/5;
}
.world-glass{
  grid-column: 3;
  grid-row: -2/-3;
}
img:nth-child(8){
  grid-column: 3;
  grid-row: -2/-1;
}
 .pasionate{
grid-row: 3/4;
  }
 
  }
     .btn {
       text-align: end;
          margin-top: 35px;
       a {
         font-size: 24px;
         line-height: 26px;
         font-weight: 700;
         border-bottom: 5px solid #FFE600;
        color: #000;
       }
     }
h3{
  font-size: 28px;
  line-height: 24px;
    color: $color-orange;
    margin-top: 29px;
    margin-bottom: 19px;
    font-weight: 700;
}
p{
font-size: 18px;
line-height: 20px;
}
.distinct{
  text-align: center;
  p{
    max-width: 254px;
    margin: 0 auto;
  }
}
.pasionate,
.world-glass{
max-width: 305px;
}
}
.our-collection{
  padding-bottom: 131px;
position: relative;
  .btn {
      text-align: end;
      margin-top: 35px;
  
      a {
        font-size: 24px;
        line-height: 26px;
        font-weight: 700;
        border-bottom: 5px solid #FFE600;
        color: #000;
      }
    }
 h2{
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  margin-bottom: 50px;
  span{
    color: $color-orange;
  }
    
 }
 .collection-body{
display: flex;
gap: 60px;

  &::before {
    content: "";
    width: 100%;
    height: 5px;
    background-color: $color-orange;
    position: absolute;
    right: 0;
    top: 157px;
    z-index: -2;
  }
&::after {
    content: "";
    width: 100%;
    height: 5px;
    background-color: $color-orange;
    position: absolute;
    right: 0;
  bottom: 265px;
    z-index: -2;
  }
 }
 .body-section{

position: relative;
height: 500px;
width: 360px;
background-color: rgba(0, 0, 0, 0.4);
img{
  z-index: -1;
  position: absolute;
}
  .body-section_text{
position: absolute;
  top: 297px;
  z-index: 2;
  left: 20px;
    h3{
      font-size: 24px;
      line-height: 27px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 21px;
    display: inline-block;
    border-bottom: 5px solid #FFE600;
    width: 94px;
    }
    p{
      font-size: 18px;
      line-height: 20px;
      color: #fff;
      max-width: 303px;
    }
  }
 }
}


.vintage{
  background-image: url(../images/vintage-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 293px;
  background-attachment: fixed;
  
  h2{
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    span{
      color: $color-orange;
    }
  }
  .vintage-body{
    display: flex;
    justify-content: space-around;
    margin-top: 63px;
    .vintage-text{
      max-width: 566px;
      h2{
        margin-bottom: 20px;
      }
      .vintage-btn{
        text-align: end;
        margin-top: 20px;
        a{
          font-size: 24px;
          line-height: 26px;
          font-weight: 700;
          color: #000;
          border-bottom:5px solid #FFE600;
       
        }
      }
    }
  }
}


.our-diversity{
  padding: 120px 0 188px 0;
 position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 5px;
        background-color: $color-orange;
        position: absolute;
        right: 0;
        top: 285px;
        z-index: -2;
      }
    
      &::after {
        content: "";
        width: 100%;
        height: 5px;
        background-color: $color-orange;
        position: absolute;
        right: 0;
        bottom: 300px;
        z-index: -2;
      }
  h2{
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 50px;
    span{
      color: $color-orange;
    }
  }
  .our-diversity_body{
    display: grid;
   
    grid-template-columns: 465px 411px 700px;
    grid-template-rows: 780px;
    grid-gap: 20px;
    
  }
  .diversity-section:first-child{
    display: grid;
    grid-template-columns: 205px 240px;
    grid-template-rows: 328px 220px 192px;
    grid-gap: 20px;
.section:first-child{
  grid-row: 1/2;
  grid-column: 1/3;
}
.section:last-child{
grid-column: 1/3;
}
  }
  .diversity-section:last-child{
    display: grid;
    grid-template-columns: 179px 206px 275px;
    grid-template-rows: 411px 174px 154px ;
    grid-gap: 20px;
    .section:first-child{
      grid-column: 1/3;
    }
   .section:nth-child(2){
    grid-row:2/4 ;
    grid-column: 1/2;
   }
     .section:nth-child(3) {
       grid-row: 2/3;
       grid-column: 2/3;
     }
   .section:nth-child(4){
    grid-row: 2/3;
    grid-column: 2/3;
   }
   .section:nth-child(5){
    grid-row: 3/4;
    grid-column: 2/3;
   }
   .section:last-child{
    grid-row: 2/4;
   }
  }
  .btn{
    text-align: end;
      margin-top: 35px;
    a{
      color: #000;
      font-size: 24px;
      line-height: 27px;
      font-weight: 700;
      border-bottom:5px solid #FFE600;
    
    }
  }
}
.achivaments{
  padding: 120px 0 120px 0;
  h2{
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 92px;
    span{
      color: $color-orange;
    }
  }
  .achivaments-body{
    display: grid;
    grid-template-columns: 285px 646px 445px;
grid-column-gap: 120px;
align-items: end;
img{
  width: 100%;
}
.section:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.section:nth-child(3) {
  grid-column: 2/3;
  grid-row: 1/3;
}
  }
}

footer{
  background-image: url(../images/footer-bg.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
background-position: top;

 padding-top: 120px;
  h2{
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
    span{
      color: $color-orange;
    }
  }
  .form {
    width: 830px;
    
    h4 {
      font-size: 30px;
      line-height: 33px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 60px;
    }
    
    input {
      width: 100%;
      background-color: inherit;
      border: none;
      padding: 10px 15px 10px 0;
      margin-bottom: 5px;
      color: #000;
      font-size: 30px;
      border-bottom: 1px solid #000;
      line-height: 33px;
      
      &::placeholder {
      color: #000;
      font-size: 30px;
      line-height: 33px;
    }
  }
  .button {
    text-align: end;
  }
  .btn {
  padding: 15px 40px;
  display: inline-block;
  background-color: $color-orange;
  max-width: 212px;
  border: none;
  border-radius: 5px;
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 50px;
} 
}
  .footer-designed{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
    padding: 40px 0;
    span{
      line-height: 25px;
      font-weight: 700;
      color: #000;
      font-size: 18px;
    }
  }
  .footer-body {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 285px 365px 365px auto;
    grid-template-rows: 285px 450px;
    grid-column-gap: 60px;
    margin-right: 10px;
    padding-bottom: 90px;
    grid-row-gap: 65px;
    &:nth-child(1) {
      grid-column-gap: 66px;
      
    }       
          .section:nth-child(5) {
            grid-column: 2/3;
          }
    
          .section:nth-child(6) {
            grid-template-columns: 3/5;
          }
    
          .section {
            max-width: 365px;
    
            h4 {
              font-size: 30px;
              line-height: 33px;
              font-weight: 700;
              text-transform: uppercase;
              margin-bottom: 60px;
            }
    
            p {
              font-size: 30px;
              line-height: 33px;
              margin-bottom: 10px;
            }
    
            a {
              color: inherit;
            }
          }
    
        }
}


        @media(max-width:1660px) {
    .collection-body{
      .body-section{
        height: 468px;
        img{
          width: 337px;
        }
      }
      } 
       .our-collection{
          .collection-body {
              gap: 0;
              justify-content: space-between;
              .body-section{
                width: 338px;
              }
            }
     }
         .our-diversity{
          .our-diversity_body{
          grid-template-columns: auto 411px auto ;
          
          .diversity-section:last-child{
            grid-template-columns: 179px 206px auto;
            .section:first-child{
              grid-column: 1/4;
              
            }
          }
            img{
              width: 100%;
              height: 100%;
            }
          }
         } 
         .our-story{
          .story-grid{
            grid-column-gap: 40px;
          }
         }
       footer{
          .footer-body {
              .form {
                width: 770px;
              }
            }
       }
        }
@media(min-width:800px) and (max-width:1550px) {
      .our-story{
        .story-grid{
          grid-column-gap: 40px;
          img{
            width: 100%;
          }
        }
      }
      .our-diversity{
        .our-diversity_body{
        .diversity-section:last-child{
            grid-template-columns:auto auto 240px;
          }
        }
      }
      footer{
        .footer-body{
          input{
            padding: 5px 15px 5px 0;
          }
          .section{
            h4{
              margin-bottom: 40px;
            }
            p{
              font-size: 25px;
              margin-bottom: 6px;
            }
          }
           .form{
            width: 715px;
            input{
              padding: 5px 15px 5px 0;
              font-size: 20px;
              &::placeholder{
                font-size: 20px;
              }
            }
          }
        }
       
      }
    }
     @media(min-width:500px) and (max-width:800px){
      h2{
        text-align: center;
      }
      .header{
        min-height: 600px;
      }
      .header-nav{
        ul{
          a{
            margin-right: 10px;
            font-size: 15px;
          }
        }
      }
      .our-story{
        .container{
          text-align: center;
        }
       .btn{
        text-align: center;
       }
        h2{
       
          margin-bottom: 40px;
        }
        .distinct,
        .pasionate,
        .world-glass{
          margin: auto;
          p{
            margin-bottom: 29px;
          }
        }
        .story-grid{
          display: block;
          text-align: center;
          img{
            width: auto;
          }
          h2{
          
          }
        }
      }
      .header-info{
       
        h1{
          font-size: 55px;
          line-height: 60px;
          margin-right: 60px;
          margin-top: 200px;
        }
        p{
          max-width: 575px;
          margin-top: 200px;
          font-size: 16px;
          line-height: 30px;
        }
        button{
          font-size: 20px;
        }
      }
      .our-collection{
        h2{
          text-align: center;
        }
        .collection-body {
          flex-wrap: wrap;
          gap: 40px;
          justify-content: center;
        }
        .btn{
          text-align: center;
        }
      }
      .vintage{
        padding-bottom: 150px;
        h2{
          text-align: center;
        }
        .vintage-body{
          display: block;
          text-align: center;
          .vintage-text{
            margin: auto;
            margin-top: 50px;
          }
        }
      }
      .our-diversity{
        
      .our-diversity_body{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .diversity-section:first-child{
         grid-template-columns: 1fr 1fr;
         width: 100%;
        grid-template-rows: auto auto auto;
        }
      }
      }
     }
     @media(max-width:500px){
    
      .header-nav{
        img{
          width: 80px;
          height: 25px;
          margin-right: 10px;
        }
        ul{
          a {
              font-size: 10px;
              margin-right: 10px;
            }
        }
        .header-btn{
          font-size: 10px;
        }
      }
      .header-info{
        display: block;
        h1{
          max-width: 150px;
          font-size: 40px;
          line-height: 35px;
    margin-top: 40%;
    margin-left: auto;
         
        }
        p{
          font-size: 12px;
          line-height: 15px;
          margin-top: 0;
        }
        button{
          font-size: 20px;
        }
      }
    .our-story{
     padding-bottom: 80px;
        .story-grid {
            display: block;
            img:nth-child(5){
              margin-bottom: 30px;
            }
            img {
              width: 100%;
            }
            .distinct,
            .pasionate,
            .world-glass {
            text-align: center;
              margin: auto;
               p{
            margin-bottom: 29px;
          }
            }
               
    }
        .btn {
          text-align: center;
        }
        }
        .our-collection{
         h2{
          font-size: 30px;
          text-align: center;
         }
          .collection-body{
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .body-section{
            margin-bottom: 40px;
          }
          .btn{
            text-align: center;
          }
        }
        .vintage{
         padding-bottom: 150px;
          h2{
            font-size: 30px;
          }
           .vintage-body{
          display: block;
          img{
            width: 100%;
          }
        }
        }
       
        .our-diversity{
          &::after {
              bottom: 200px;
            }
          h2{
            font-size: 25px;
            text-align: center;
          }
          padding-bottom: 80px;
          .our-diversity_body{
            display: block;
            .diversity-section{
              margin-bottom: 40px;
            }
            .diversity-section:first-child{
              grid-template-columns: auto;
              grid-template-rows: auto;
            }
          .diversity-section:last-child{
            grid-template-columns: auto auto 180px;
            grid-template-rows: auto;
          }
          
           }
        }
        .achivaments{
          .achivaments-body{
            display: block;
            text-align: center;
            img{
              width: 320px;
            }
          }
        }
        footer{
          h2{
            font-size: 25px;
            text-align:center;
         
          }
          .footer-body{
            margin-top: 30px;
            display: block;
            h2{
              font-size: 30px;
              display: block;
              margin-bottom: 50px;
            }
            h4{
              font-size: 25px;
              margin-bottom: 30px;
            }
            .section{
              margin: auto;
            }
            .form{
              width: auto;
              .btn{
                padding: 10px 35px;
                font-size: 20px;
              }
            }
          }
          .footer-designed{
            span{
              font-size: 10px;
            }
          }
        }
     }
     