*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
a{
text-decoration: none;
}
body{
  font-family: 'Philosopher', sans-serif;
  $color-orange:#FF9900 !global;
  font-size: 18px;
}
.container{
  max-width: 1666px;
  margin: 0 auto;
  padding: 0 15px;
}
header{
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 1800px;
  height: 1098px;
  background-position: bottom center;
}
.header-nav{
  display: flex;
  justify-content: space-between;
padding-top: 40px;
align-items: center;
  ul{
    display: flex;
    li{
      margin-right: 19px;
      a{
        color: #fff;
        font-size: 24px;
        line-height: 26px;
        &:hover{
          color: $color-orange;
          transition: all 0.8s ease;
        }
      }
     
    }
  }
  .header-btn{
  font-size: 24px;
  line-height: 26px;
   border: none;
 color: $color-orange;
 background-color: transparent;
 cursor: pointer;
  }
}
.header-info{
  display: flex;
  justify-content: center;
  h1{
    font-size: 80px;
    line-height: 90px;
    color: #fff;
    margin-right: 182px;
    max-width: 437px;
    margin-top: 302px;
    text-align: right;
    span{
      color: $color-orange;
    }
  }
     p {
       max-width: 646px;
       color: #fff;
       font-size: 34px;
       line-height: 38px;
       margin-top: 262px;
     }
     button{
      background-color: transparent;
      color: $color-orange;
      font-size: 34px;
      line-height: 38px;
      border: none;
      display: block;
      width: 100%;
      text-align: end;
     }
}


.our-story{
  padding: 120px 0 189px 0;

  h2{
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 70px;
    span{
      color: $color-orange;
    }
  }
  .story-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 167px 247px 159px 317px;
grid-column-gap: 66px;
img:nth-child(3){
  grid-row: 1/3;
  grid-column: 3;

}
img:nth-child(5){
  grid-row: 4/5;
grid-column: 1;
}
img:nth-child(6) {
 grid-column: 2/3;
 grid-row: 2/5;
}
.world-glass{
  grid-column: 3;
  grid-row: -2/-3;
}
img:nth-child(8){
  grid-column: 3;
  grid-row: -2/-1;
}
 .pasionate{
grid-row: 3/4;
  }
 
  }
     .btn {
       text-align: end;
          margin-top: 35px;
       a {
         font-size: 24px;
         line-height: 26px;
         font-weight: 700;
         border-bottom: 5px solid #FFE600;
        color: #000;
       }
     }
h3{
  font-size: 28px;
  line-height: 24px;
    color: $color-orange;
    margin-top: 29px;
    margin-bottom: 19px;
    font-weight: 700;
}
p{
font-size: 18px;
line-height: 20px;
}
.distinct{
  text-align: center;
  p{
    max-width: 254px;
    margin: 0 auto;
  }
}
.pasionate,
.world-glass{
max-width: 305px;
}
}
.our-collection{
  padding-bottom: 131px;
position: relative;
  .btn {
      text-align: end;
      margin-top: 35px;
  
      a {
        font-size: 24px;
        line-height: 26px;
        font-weight: 700;
        border-bottom: 5px solid #FFE600;
        color: #000;
      }
    }
 h2{
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  margin-bottom: 50px;
  span{
    color: $color-orange;
  }
    
 }
 .collection-body{
display: flex;
gap: 66px;

  &::before {
    content: "";
    width: 100%;
    height: 5px;
    background-color: $color-orange;
    position: absolute;
    right: 0;
    top: 157px;
    z-index: -2;
  }
&::after {
    content: "";
    width: 100%;
    height: 5px;
    background-color: $color-orange;
    position: absolute;
    right: 0;
  bottom: 265px;
    z-index: -2;
  }
 }
 .body-section{
  width: 25%;
position: relative;
height: 500px;
max-width: 360px;
background-color: rgba(0, 0, 0, 0.4);
img{
  z-index: -1;
  position: absolute;
}
  .body-section_text{
position: absolute;
  top: 297px;
  z-index: 2;
  left: 20px;
    h3{
      font-size: 24px;
      line-height: 27px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 21px;
    display: inline-block;
    border-bottom: 5px solid #FFE600;
    width: 94px;
    }
    p{
      font-size: 18px;
      line-height: 20px;
      color: #fff;
      max-width: 303px;
    }
  }
 }
}


.vintage{
  background-image: url(../images/vintage-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 293px;
  
  h2{
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    span{
      color: $color-orange;
    }
  }
  .vintage-body{
    display: flex;
    justify-content: space-around;
    margin-top: 63px;
    .vintage-text{
      max-width: 566px;
      h2{
        margin-bottom: 20px;
      }
      .vintage-btn{
        text-align: end;
        margin-top: 20px;
        a{
          font-size: 24px;
          line-height: 26px;
          font-weight: 700;
          color: #000;
          border-bottom:5px solid #FFE600;
       
        }
      }
    }
  }
}


.our-diversity{
  padding: 120px 0 188px 0;
 position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 5px;
        background-color: $color-orange;
        position: absolute;
        right: 0;
        top: 285px;
        z-index: -2;
      }
    
      &::after {
        content: "";
        width: 100%;
        height: 5px;
        background-color: $color-orange;
        position: absolute;
        right: 0;
        bottom: 300px;
        z-index: -2;
      }
  h2{
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 50px;
    span{
      color: $color-orange;
    }
  }
  .our-diversity_body{
    display: grid;
    grid-template-columns: 465px 411px 700px;
    grid-template-rows: 780px;
    grid-gap: 20px;
    
  }
  .diversity-section:first-child{
    display: grid;
    grid-template-columns: 205px 240px;
    grid-template-rows: 328px 220px 192px;
    grid-gap: 20px;
.section:first-child{
  grid-row: 1/2;
  grid-column: 1/3;
}
.section:last-child{
grid-column: 1/3;
}
  }
  .diversity-section:last-child{
    display: grid;
    grid-template-columns: 179px 206px 275px;
    grid-template-rows: 411px 174px 154px ;
    grid-gap: 20px;
    .section:first-child{
      grid-column: 1/3;
    }
   .section:nth-child(2){
    grid-row:2/4 ;
    grid-column: 1/2;
   }
     .section:nth-child(3) {
       grid-row: 2/3;
       grid-column: 2/3;
     }
   .section:nth-child(4){
    grid-row: 2/3;
    grid-column: 2/3;
   }
   .section:nth-child(5){
    grid-row: 3/4;
    grid-column: 2/3;
   }
   .section:last-child{
    grid-row: 2/4;
   }
  }
  .btn{
    text-align: end;
      margin-top: 35px;
    a{
      color: #000;
      font-size: 24px;
      line-height: 27px;
      font-weight: 700;
      border-bottom:5px solid #FFE600;
    
    }
  }
}

.achivaments{
  padding: 120px 0 120px 0;
  h2{
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 92px;
    span{
      color: $color-orange;
    }
  }
  .achivaments-body{
    display: grid;
    grid-template-columns: 285px 646px auto;
    grid-template-rows:285px 144px 285px;
grid-column-gap: 120px;
img{
  width: 100%;
}
    .section:first-child{
      grid-row: 1/2;
    }
    .section:nth-child(2){
      grid-row: 1/4;
      display: flex;
      align-items: center;
    }
    .section:nth-child(4){
      grid-row: 3/4;
    }
    .section:last-child{
      grid-column: 3/4;
    }
  }
}

footer{
  background-image: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0 40px 0;
  h2{
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
    span{
      color: $color-orange;
    }
  }
  .footer-body{
    margin-top: 120px;
    display: grid;
  }
}